<ul class="nav flex-column">
  <li class="nav-item pulse" [routerLink]="['/pulse']">
    <!-- <img class="img1" src="assets/images/Vector 5.png" /> -->
    <div class="img img1"></div>
    Pulse
  </li>
  <li class="nav-item" [routerLink]="['/meeting']">
    <img class="img2" src="assets/images/Vector.png" alt="" />
    <img class="img3" src="assets/images/Vector.png" alt="" />
    <a class="meeting nav-link">Meeting</a>
  </li>
  <li class="nav-item" [routerLink]="['/items']">
    <img class="img4" src="assets/images/Vector_2.png" alt="" />
    <a class="items nav-link">Items</a>
  </li>
  <li class="nav-item" [routerLink]="['/actions']">
    <img class="img5" src="assets/images/Vector_3.png" alt="" />
    <a class="actions nav-link">Actions</a>
  </li>
</ul>
