.container {
  width: 59px;
  height: 13px;
  background-color: #cbcbcb;
  font-size: 10px;
  border-radius: 20px;
  padding-left: 0;
}

.fill {
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding-left: 10px;
  height: 100%;
}

.fill-red {
  background-color: #ea4335;
}

.fill-orange {
  background-color: #fe993b;
}

.fill-blue {
  background-color: #1495f0;
}

.fill-green {
  background-color: green;
}
