.container {
  overflow: hidden;
  .app-table {
    width: 1300px;
    border-collapse: collapse;
    table-layout: fixed;
    .table-header {
      height: 32px;
      display: flex;
      background-color: lightgray;
      border-radius: 5px;
      margin-bottom: 10px;

      .header-row {
        display: flex;
        align-items: center;
        padding: 0px 10px;
        .header-instance {
          font-family: "Metropolis";
          font-style: normal;
          line-height: 12px;
          width: 270px;
          font-size: 14px;
          text-transform: capitalize;
          text-align: left;
        }
        .header-date {
          font-family: "Metropolis";
          font-style: normal;
          line-height: 12px;
          width: 100px;
          font-size: 14px;
          text-transform: capitalize;
          text-align: left;
        }
      }
    }
    .table-body {
      .data-row {
        font-size: 14px;
        height: 80px;
        display: flex;
        padding: 20px 20px 20px 0;
        border: 1px solid gainsboro;
        border-radius: 5px;
        margin-bottom: 10px;
        .data-column {
          display: flex;
          width: 300px;
          text-align: left;
          padding: 10px 10px 10px 30px;
          align-items: center;
          border-radius: 0px 4px 4px 0px;
        }
        .date-date {
          display: flex;
          width: 100px;
          text-align: left;
          align-items: center;
          padding-right: 30px;
          border-radius: 0px 4px 4px 0px;
          ul {
            padding-top: 10px;
            list-style: none;
            .text {
              margin-left: 5px;
            }
          }
        }
        .data-title {
          display: flex;
          width: 320px;
          padding: 0px 20px;
          text-align: left;
          align-items: center;
          border-radius: 0px 4px 4px 0px;
        }
        .data-business {
          display: flex;
          width: 250px;
          margin: 0px;
          padding: 0;
          align-items: center;
          border-radius: 0px 4px 4px 0px;
          border-right: 0.7px dashed #cfcfcf;
        }
        .data-img {
          display: flex;
          width: 150px;
          padding: 0;
          text-align: left;
          align-items: center;
          img {
            margin-left: 60px;
          }
        }
        .data-delaybadge {
          display: flex;
          width: 300px;
          padding-left: 120px;
          text-align: left;
          align-items: center;
        }
      }
    }
  }
}

.date-date-rejected {
  color: #1495f0;
  font-weight: bold;
  border-left: 5px solid #1495f0;
  border-right: 0.7px dashed #cfcfcf;
}

.date-date-progress {
  color: #ffb017;
  font-weight: bold;
  border-left: 5px solid #ffb017;
  border-right: 0.7px dashed #cfcfcf;
}

.date-date-approved {
  color: #ea4335;
  font-weight: bold;
  border-left: 5px solid #ea4335;
  border-right: 0.7px dashed #cfcfcf;
}
