<div class="container">
  <div class="left-side">
    <img class="letter-f" src="assets/images/F.png" alt="" />
    <img class="letter-o" src="assets/images/O.png" alt="" />
    <img class="point" src="assets/images/Ellipse 14.png" alt="" />
    <img class="letters-cus" src="assets/images/CUS.png" alt="" />
  </div>
  <div class="right-side">
    <ul class="nav-ul">
      <img class="ring" src="assets/images/Ring.png" alt="" /><img
        class="sircle"
        src="assets/images/Ellipse 251.png"
        alt=""
      />
      <p>2</p>
      <div class="drowdown">
        <li>
          <button class="btn btn-outline-primary">Notification 1</button>
        </li>
        <li>
          <button class="btn btn-outline-primary">Notification 2</button>
        </li>
      </div>
    </ul>
  </div>
</div>
